.room-root {
  position: relative;
  width: 100%;
  height: 100%;
  .header-button-box {
    max-width: 100%;
    input {
      cursor: pointer;
      position: absolute;
      padding: 0;
      width: 50%;
      height: 50px;
      border: 1px solid;
      border-color: white;
      border-radius: 4px;
      background-color: lightgray;
      font-size: 1.3rem;
      font-weight: bold;
      color: blueviolet;
    }
    .next-button {
      right: 0;
    }
  }
  .first-message {
    padding-top: 50px;
    font-size: 1.2rem;
    color: lightgreen;
  }
  .message-element {
    margin: 10px 0;
    .element-username {
      font-size: 1.2rem;
      font-weight: bold;
      color: blueviolet;
    }
    .element-message {
      font-size: 1.7rem;
    }
  }
  .message-box {
    position: fixed;
    max-width: 100%;
    bottom: 0;
    width: 100%;
    .typing-message {
      font-size: 1.2rem;
      color: gray;
    }
    input {
      &:focus {
        outline: none;
      }
      margin: 1px;
      height: 50px;
      border: 1px solid;
      border-radius: 4px;
    }
    .input-box {
      padding: 0;
      width: 80%;
      border-color: gray;
      font-size: 1.2rem;
    }
    .send-box {
      cursor: pointer;
      width: 19%;
      right: 0;
      border-color: blueviolet;
      background-color: blueviolet;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
    }
  }
}
