.room-root {
  position: relative;
  width: 100%;
  height: 100%;
  .header-button-box {
    max-width: 100%;
    input {
      cursor: pointer;
      position: fixed;
      padding: 0;
      width: 50%;
      height: 50px;
      border: 1px solid;
      border-color: white;
      border-radius: 4px;
      background-color: lightgray;
      font-size: 1.3rem;
      font-weight: bold;
      color: blueviolet;
    }
    .next-button {
      right: 0;
    }
  }
  .enter-message {
    padding-top: 50px;
    padding-left: 15px;
    font-size: 1.2rem;
    color: lightgreen;
  }
  .chat-box {
    padding-left: 15px;
    overflow-y: scroll;
    .message-element {
      margin: 15px 0;
      .element-username {
        font-size: 1.1rem;
        font-weight: bold;
        color: blueviolet;
      }
      .element-message {
        padding-left: 10px;
        font-size: 1.4rem;
      }
    }
  }
  .message-box {
    position: fixed;
    max-width: 100%;
    bottom: 0;
    width: 100%;
    .typing-message {
      font-size: 1.2rem;
      color: gray;
    }
    form {
      display: flex;
      input {
        &:focus {
          outline: none;
        }
        margin: 1px;
        height: 50px;
        border: 1px solid;
        border-radius: 4px;
      }
      .input-box {
        padding: 0;

        width: 80%;
        border-color: gray;
        font-size: 1.2rem;
      }
      .send-box {
        cursor: pointer;

        width: 20%;
        right: 0;
        border-color: blueviolet;
        background-color: blueviolet;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
      }
    }
  }
}
